.pagination {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-rows: 1fr;
}

.btn-delete {
    margin-right: auto;
    margin-left: 10vw;
    background: #0c0fe0;
    color: white;
    border-radius: 1.5rem;
    padding: 8px 10px;
    margin-top: 5px;
    cursor: pointer;
    border: 1px solid rgb(103, 218, 27);

}

.paginator-element {
    color: rgb(27, 176, 235);
    background-color: #b1172c;
    border-radius: 75%;
    margin: 0.850rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
}


.selected {
    background-color: #fff;
    color: #c8c2c3;
    border: 1px solid #1890FF;
}

.disabled {
    background: gray;
    cursor: not-allowed;
}